<% layout('boilerplate/boilerplate')%>

    <main class="main">
        <div id="division-one">
            <h1>Welcome to ShareNet, <%= currentUser.username%></h1>
        </div>
    
        <article>
            We are glad to have you here, <br>
            We promise you that we'll never share your information, <br>
            We are not responsible if you are hacked by another user <br>
            With no futher comments, enjoy your stay in ShareNet!   
        </article>
    
        <div class="button">
            <% if(currentUser){ %>
                <h2>What you wanna do?</h2>
                <div class="options">
                    <a class="btn" id="btn-seeAll" href="/content">See lastes publications</a>
                    <a class="btn" id="btn-create" href="/content">Create a post</a>
                </div>
            <%}%>
            <% if(currentUser){ %>
                <a class="btn" id="btn-del" href="/login">Remove Account</a>
            <%}%>
        </div>
    </main>

<%- include('./layout/footer')%>
