<% layout('boilerplate/boilerplate')%>

<main id="newPost">
    <h1>What are you thinking?</h1>
    <form action="/content" method="POST" id="form" enctype="multipart/form-data" novalidate>
        <div>
            <label for="title" id="title-new">Title</label>
            <input type="text" id="title" name="content[title]" required><br>
            <small id="small"></small>
        </div>
        <div>
            <input type="file" name="image" id="image-input"> <br>
            <small id="small"></small>
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" id="description" name="content[description]" required><br>
            <small id="small"></small>
        </div>
        <button id="create">Create Post</button>
    </form>

    <div id="btn-goback">
        <a href="/content">Go back</a>
    </div>
</main>

<script>
    const form = document.getElementById('form');
    const title = document.getElementById('title');
    const image = document.getElementById('image-input');
    const description = document.getElementById('description');

    form.addEventListener('submit', e => {
        e.preventDefault();
        checkValidation();
    })


    function checkValidation() {
        const titleValue = title.value;
        const imageValue = image.value;
        const descriptionValue = description.value;

        if(titleValue && imageValue && descriptionValue){
                form.submit()
            } else {
                if (titleValue === ''){
                        invalid(title, 'please add a title')
                    } else { validated(title, 'Looks good!')}
                if(imageValue === ''){
                        invalid(image, 'please add an image');
                    } else { validated(image, 'Nice image!')}
                if(descriptionValue === ''){
                        invalid(description, 'please add a description');
                    } else {validated(description, 'Looks good!')}
                }
        }

    function invalid(input, message) {
        const formCtrl = input.parentElement;
        const small = formCtrl.querySelector('small')
        small.innerText = message;
        small.classList.add('invalid') 
        small.classList.remove('success')
    }

    function validated(input, message){
        const formCtrl = input.parentElement;
        const small = formCtrl.querySelector('small')
        small.innerText = message;
        small.classList.add('success')
        small.classList.remove('invalid')
    }    
    
</script>


<%- include('./layout/footer')%>


