<%- include('../layout/header')%>

<style>
    form{
    margin-top: 4rem;
    flex-direction: column;
    height: 25vh;
    width: 20%;
}

button{
    cursor: pointer;
    width: 100%;
    padding: 7px;
    background-color: green;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: bolder;
    letter-spacing: 2px;
}

input{
    width: 100%;
    padding: 5px 12px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}
p{
    margin-bottom: 20px;
}
</style>


<form action="/login" method="POST" novalidate>
    <p id="error"><%- error %></p>
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button>Login</button>
</form>