<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .container{
        width: 100%;
    }

    /* Home */
    .main{
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
        padding: 25px;
        width: 70%;
        gap: 20px;
        background-color: rgba(67, 45, 82, 0.705);
        color: rgb(255, 255, 255);
    }

    article{
        text-align: center;
        width: 100%;
        font-size: 20px;
    }

    #division-one{
        text-align: center;
    }

    .options{
        display: flex;
        gap: 15px;
    }

    .button{
        text-align: center;
    }

    .btn{
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-top: 10px;
        cursor: pointer;
        text-align: center;
        color: #fff;
        padding: 12px;
        font-size: larger;
        font-weight: bolder;
        border-radius: 18px;
        letter-spacing: 2px;
    }

    #btn-del{
        background-color: rgba(190, 48, 48);
    }

    #btn-seeAll{
        background-color:rgb(32, 32, 139);
    }

    #btn-create{
        background-color: rgb(46, 138, 46);
    }

    /* All Posts */

    main{
        display: flex;
        flex-direction: column;
    }

    .h1{
        margin-top: 5rem;
        margin-bottom: 2rem;
    }

    img{
        height: 220px;
    }

    .card{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 40px;
    }

    #li{
        margin-bottom: 20px;
        background-color: cornflowerblue;
        box-shadow: 0px 0px 20px 0 ;
        transition: transform 0.5s;
    }

    #li:hover{
        transform:scale(1.03);
    }

    h3{
        font-weight: bolder;
        text-align: center;
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #more{
        font-weight: bold;
        color: green;
    }

    #success{
        color: green;
        text-align: center;
    }
    #error{
        margin-top: 1rem;
        color: red;
        text-align: center;
    }

    #card-bottom{
        display: flex;
        flex-direction: column;
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .card-botton{
        display: flex;
        flex-direction: row;
        margin: 10px 0 10px 0;
        gap: 40px;
    }

    /* Single post */

    section{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 8%;
    }

    #main-single{
        margin-top: -1rem;
        position: sticky;
    }

    #post{
        padding: 10px;
        background-color: rgb(185, 212, 248);
        border: silver 2px solid;
    }

    #post > h2{
        margin: 0.5rem 0 1rem 0;
    }

    #post > img{
        width: 500px;
        height: 350px;
    }

    #description {
        margin: 1rem 0 0.5rem 0;
        
    }

    #likes-area{
        display: flex;
        margin-top: 1rem;
        width: 100%;
        font-size: larger;
    }

    #likes-area > button{
        width: 20%;
        font-size: large;
        cursor: pointer;
        border: none;
        border-radius: 10px;
        background: green;
        padding: 10px;
        letter-spacing: 3px;
        color: white;
    }

    #likes-area > p{
        text-align: center;
        width: 50%;
    }

    #options{
        display: flex;
        margin-top: 1rem; 
    }

    #options, #delete, #update, #create{
        font-size: large;
    }

    #options > #edit, #delete, #all, #comment-btn{
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 8px;
        font-weight: bolder;
    }

    #btn-goback, #create, #update, #edit, #delete, #all, #comment-btn{
        letter-spacing: 2px;
    }

    #delete{
        background-color: red;
    }

    #edit, #comment-btn, #update, #create{
        background-color: green;
    }

    #comment-btn{
        width: 100%;
        font-size: large;
    }

    #all, #btn-goback{
        background-color: royalblue;
    }

    aside{
       margin-top: 1rem;
    }

    #form{
        margin-bottom: 3em;
    }
    textarea{
        border: 2px solid #000;
        width: 400px;
        
    }
    textarea:focus{
        outline: none;
    }

    .invalid{
        color: red;
        letter-spacing: 1px;
    }

    .success{
        color: green;
        letter-spacing: 1px;
    }

    #review-box{
        margin-bottom: 10px;
        padding: 11px;
        border: 1px solid grey;
    }
    #review-comment{
        width: 100%;
        margin-bottom: 1rem;
    }

    #success{
        margin-top: 1rem;
        color: green;
    }
    #error{
        margin-top: 1rem;
        color: red;
    }

    #update{
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 8px;
        margin-top: 2px;
        font-weight: bolder;
    }

    /* Edit post */

    .main-edit{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 7.5rem;
    }

    #form{
        margin-top: 20px;
        padding: 20px;
        text-align: center;
        background-color: rgb(218, 216, 214);
        border-radius: 25px;
    }

    #form .edit{
        padding: 10px;
        text-align: center;
        font-size: larger;
    }

    .edit > label{
        font-size: larger;
    }

    #title, #description{
        font-size: large;
        padding: 10px;
    }

    #btn-goback{
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 8px;
        font-weight: bolder;
        font-size: larger;
    }

    /* New post */

    #newPost{
        display: flex;
        flex-direction: column;
        margin-top: 7rem;
    }

    form #image-input{
        font-size: large;
        margin-top: 1rem;
    }

    #create{
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 8px;
        font-weight: bolder;
        margin-top: 1rem;
    }

    .invalid{
        color: red;

        letter-spacing: 1px;
    }

    .success{
        color: green;
        letter-spacing: 1px;
    }

    /* Registration */

    .form-create, .form-login{
        color: rgb(0, 0, 0);
        background-color: rgba(133, 133, 133, 0.212);
        margin-top: 8rem;
        flex-direction: column;
        padding: 14px;
        width: 35%;
        border-radius: 15px;
        font-size: x-large;
    }

    #register-btn, #login-btn{
        cursor: pointer;
        width: 100%;
        padding: 7px;
        background-color: green;
        border: none;
        border-radius: 10px;
        color: #fff;
        font-weight: bolder;
        letter-spacing: 2px;
        font-size: x-large;
    }
    #username, #email, #password{
        width: 100%;
        padding: 5px 12px;
        margin: 8px 0;
        display: inline-block;
        box-sizing: border-box;
        color:#000;
        outline: none;
        font-size: x-large;
    }
    p{
        margin-bottom: 20px;
    }   


@media all and (min-width:300px) and (max-width: 767px){
    /* Home */
    .button{
        width: 100%;
    }

    .options{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    main{
        margin-top: 10rem;
    }

    /* All Posts */

    main{
        width: 90%;
        margin-top: 3rem;
    }

    #li{
        width: 95%;
    }

    img{
        width: 100%;
    }

    .card{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    /* SinglePost */

    section{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 8rem;
    }

    #main-single{
        width: 100%;
    }

    #post img{
        width: 100%;
    }

    #description{
        padding: 10px;
    }

    aside{
        margin-top: 1rem;
        text-align: center;
        width: 100%;
    }
    
    textarea{
        width: 80%;
        margin: 1rem 0 1rem 0;
    }
    #comment-btn{
        width: 80%;
    }

    #review-box{
        width: 90%;
        text-align: left;
    }

    /* Registration */

    .form-create, .form-login{
        color: rgb(0, 0, 0);
        background-color: rgba(133, 133, 133, 0.212);
        margin-top: 10rem;
        flex-direction: column;
        padding: 14px;
        width: 70%;
        border-radius: 15px;
    }

    /* Login */




}

@media all and (min-width:768px) and (max-width: 1020px){
    /* All Posts     */
    .card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 40px;
    }

    section{
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
    }
}

</style>
<body>

    <main class="container">
        <%- include('../layout/header') %>
        <%- include('../partials/flash')%>
        <%- body %>
    </main>

</body>
</html>